@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>Details</h2>
    <form action="Use" method=post >
        <input type="number" name="x" />
        <input type="number" name="y" />
        <input type="text" name="operation" />
        <input type="submit" value="+" action="/Calc/Use" />
    </form>


</body>
</html>
