@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2><a href="Home/DownloadFile">Download</a></h2>
</body>
</html>
