@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>@ViewBag.Ip</h2>
    <h2>@ViewBag.Browser</h2>

</body>
</html>
